#content
    #text
        %a{ :href => '/admin/add' } Добавить стрип
        %br
        %a{ :href => '/admin/list' } Редактировать существующие
        %br
        %br
        %a{ :href => '/admin/settings' } Настройки