#content
	#text
		%form{ :name => 'settings', :method => 'post', :action => '/admin/settings'}
			%fieldset
				%legend Настройки комикса
				%label{ :for => 'title' } Название:
				%input{ :name => 'title', :type => 'text', :value => @comics.title }
				%br
				%label{ :for => 'about' } Текст раздела «О комиксе» (можно использовать html):
				%textarea{ :name => 'about' }= @comics.about
			%fieldset
				%legend Настройки твиттера
				%label{ :for => 'twitter' } Твиттер:
				%input{ :name => 'twitter', :type => 'text', :value => @comics.twitter }
			%fieldset
				%legend Настройки доступа в панель администратора
				%label{ :for => 'login' } Логин:
				%input{ :name => 'login', :type => 'text', :value => @comics.login }
				%br
				%label{ :for => 'password' } Пароль:
				%input{ :name => 'password', :type => 'text', :value => @comics.password }
			%input{ :type => 'submit', :value => 'Сохранить' }
		%span.backtomain
			%a{ :href => '/admin' } Вернуться на главную